---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
body {
  cursor: url(https://cur.cursors-4u.net/nature/nat-5/nat425.ani), url(https://cur.cursors-4u.net/nature/nat-5/nat425.png), auto !important;
}



@keyframes click {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}